.no-spacing{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
}

.postrows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.postcolumns{
    display: flex;
    flex-direction: columns;
    margin:0;
}

.post-border{
    border: 1px solid black;
}
.postComments-border{
    border: 1px solid black;
    margin-top: 5px;
}
.post-ratings{
    display: flex;
    flex-direction: row;
}